<h1 class="mb-4 text-center">Tic Tac Toe</h1>
    
<div class="container-board">
    <div class="main-board">
        <div id="top-left" class="square"></div>
        <div id="top-center" class="square"></div>
        <div id="top-right" class="square"></div>
        <div id="mid-left" class="square"></div>
        <div id="mid-center" class="square"></div>
        <div id="mid-right" class="square"></div>
        <div id="bottom-left" class="square"></div>
        <div id="bottom-center" class="square"></div>
        <div id="bottom-right" class="square"></div>
    </div>
</div>