.main-board {
    background-color: rgb(50,54,57); /* Black */
    width: 90%;
    padding-bottom: 90%;
    display: block;
    position: relative;
    margin: auto;
    border: 1px solid #DAA520; /* Gold */
    color: rgb(244,248,251); /* White */
    text-align: center;
    font-size: 5vmax;
}

#top-left {
    width: 33.333333%;
    height: 33.333333%;
    border: 1px solid #DAA520;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

#top-center {
    width: 33.333333%;
    height: 33.333333%;
    border: 1px solid #DAA520;
    position: absolute;
    left: 33.333333%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#top-right {
    width: 33.333333%;
    height: 33.333333%;
    border: 1px solid #DAA520;
    position: absolute;
    left: 66.666666%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#mid-left {
    width: 33.333333%;
    height: 33.333333%;
    border: 1px solid #DAA520;
    position: absolute;
    top: 33.333333%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#mid-center {
    width: 33.333333%;
    height: 33.333333%;
    border: 1px solid #DAA520;
    position: absolute;
    left: 33.333333%;
    top: 33.333333%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#mid-right {
    width: 33.333333%;
    height: 33.333333%;
    border: 1px solid #DAA520;
    position: absolute;
    left: 66.666666%;
    top: 33.333333%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#bottom-left {
    width: 33.333333%;
    height: 33.333333%;
    border: 1px solid #DAA520;
    position: absolute;
    top: 66.666666%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#bottom-center {
    width: 33.333333%;
    height: 33.333333%;
    border: 1px solid #DAA520;
    position: absolute;
    left: 33.333333%;
    top: 66.666666%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#bottom-right {
    width: 33.333333%;
    height: 33.333333%;
    border: 1px solid #DAA520;
    position: absolute;
    left: 66.666666%;
    top: 66.666666%;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (orientation: landscape) {
  .main-board {
    width: 100%;
    padding-bottom: 100%;
  }
}

