.footer-ben {
  width: 100%;
  border-top: 2px solid rgb(50,54,57);
  padding: 10px;
  position: absolute;
  bottom: 0;
}

.footer-item {
  font-size: 35px;
  margin: 15px;
}

.footer-content {
  display: flex;
  justify-content: center;
}

.footer-content a {
  color: rgb(50,54,57);
}

.footer-content a:hover {
  color: #DAA520;
}

@media screen and (orientation: landscape) {
  .footer-ben {
    width: 100%;
    border-top: 2px solid rgb(50,54,57);
    padding: 10px;
    position: static;
  }
}