.footer-ben {
  width: 100%;
  height: 100px;
  padding: 10px 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 2px solid rgb(50,54,57);
}

.footer-item {
  font-size: 30px;
}