.main-board {
    background-color: $black;
    width: 40%;
    padding-bottom: 40%;
    display: block;
    position: fixed;
    margin: 0 auto;
    border: 1px solid $gold;
    color: $white;
    text-align: center;
    font-size: 5vmax;
}

#top-left {
    width: 33.333333%;
    height: 33.333333%;
    border: 1px solid $gold;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

#top-center {
    width: 33.333333%;
    height: 33.333333%;
    border: 1px solid $gold;
    position: absolute;
    left: 33.333333%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#top-right {
    width: 33.333333%;
    height: 33.333333%;
    border: 1px solid $gold;
    position: absolute;
    left: 66.666666%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#mid-left {
    width: 33.333333%;
    height: 33.333333%;
    border: 1px solid $gold;
    position: absolute;
    top: 33.333333%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#mid-center {
    width: 33.333333%;
    height: 33.333333%;
    border: 1px solid $gold;
    position: absolute;
    left: 33.333333%;
    top: 33.333333%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#mid-right {
    width: 33.333333%;
    height: 33.333333%;
    border: 1px solid $gold;
    position: absolute;
    left: 66.666666%;
    top: 33.333333%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#bottom-left {
    width: 33.333333%;
    height: 33.333333%;
    border: 1px solid $gold;
    position: absolute;
    top: 66.666666%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#bottom-center {
    width: 33.333333%;
    height: 33.333333%;
    border: 1px solid $gold;
    position: absolute;
    left: 33.333333%;
    top: 66.666666%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#bottom-right {
    width: 33.333333%;
    height: 33.333333%;
    border: 1px solid $gold;
    position: absolute;
    left: 66.666666%;
    top: 66.666666%;
    display: flex;
    align-items: center;
    justify-content: center;
}